footer{
    margin-top: 29.85%;
    text-align: center;
    color: white;
}
  #hotels {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .hotel-card {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px #888;
    text-align: center;
    width: 250px;
  }
  
  .hotel-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px #888;
  }
  
  .hotel-card h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .hotel-card p {
    margin-top: 10px;
  }
  
  .hotel-card a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007ACC;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .hotel-card a:hover {
    background-color: #fff;
    color: #007ACC;
  }
  
  .no-results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }