footer{
    margin-top: 22.4%;
    text-align: center;
    color: white;
}
body {
    font-family: Arial, sans-serif;
  }
  h2 {
    font-family: Impact, sans-serif;
    color: white;
    text-align: center;
  }
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .contact-info li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .contact-info li i {
    font-size: 24px;
    margin-right: 10px;
  }
  .contact-info li span {
    font-weight: bold;
    margin-right: 10px;
  }
  .contact-info li a {
    color: #333;
    text-decoration: none;
  }
  .contact-info li a:hover {
    text-decoration: underline;
  }
  address {
    font-style: normal;
  }