.gezilecekyer1{
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
}
.gezilecekyer2{
    text-align: center;
    margin-top: -22.3%;
    margin-left: 17%;
}
.gezilecekyer3{
    text-align: center;
    margin-top: -22.2%;
    margin-left: 33%;
}
.gezilecekyer4{
    text-align: center;
    margin-top: -31.4%;
    margin-left: 49%;
}
.gezilecekyer5{
    text-align: center;
    margin-top: -59.6%;
    margin-left: 65%;
}
.gezilecekyer6{
    text-align: center;
    margin-top: -31.3%;
    margin-left: 81%;
}
.gezilecekyer7{
    text-align: center;
    margin-top: 4.6%;
    margin-left: 65%;
}
.gezilecekyer8{
    text-align: center;
    margin-top: -70.9%;
    margin-left: 17%;
}
.gezilecekyer9{
    text-align: center;
    margin-top: -49.1%;
    margin-left: 1%;
}
.gezilecekyer10{
    text-align: center;
    margin-top: -32.7%;
    margin-left: 81%;
}
.gezilecekyer11{
    text-align: center;
    margin-top: -48.9%;
    margin-left: 33%;
}
.gezilecekyer12{
    text-align: center;
    margin-top: 0.4%;
    margin-left: 33%;
}
footer{
    margin-top: 3%;
    text-align: center;
    color: white;
}